<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="GuzzleHttpMockTest">
            <directory>../GuzzleHttpMockTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
